.login-page{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    gap: 4em;
    justify-content: center;
    align-items: center;
    background: var(--main-gradiant);
}

.login-page input[type=submit]{
    margin-top: 2em;
}

.login-page span{
    display: block;
    margin-top: 1em;
    text-align: center;
}