body{
    color: var(--text-color);
    font-family:'Open Sans', sans-serif;
    font-size: var(--font-size);
}

a{
    color: var(--dynamic-color);
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: calc(var(--font-size) * (1.618 * 2));
}

h2{
    font-size: calc(var(--font-size) * 1.618);
}

h3{
    font-size: calc(var(--font-size) * (1.618 * 0.8));
}

body{
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}